body {
    background-image: url(../Images/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Slight transparency for contrast */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h2 {
    color: rgb(221, 51, 42);
    margin-bottom: 15px;
}

.result {
    font-size: 50px;
    color: #4CAF50;
    font-weight: bold;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
        max-width: 100%;
    }

    h2 {
        font-size: 20px;
    }

    .result {
        font-size: 20px;
    }
}
